<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Please login:</h1>
        <form method="post">
            {{ form.as_p }}
            <button type="submit">login</button>
            <p> Not registered? Register <a href="{% url 'register' %}?next={{ next }}">here</a></p>
            {% csrf_token %}
        </form>

    {% if request.user.is_authenticated %}
    <p>Is authenticated</p>
    {% else %}
    <p>Is not authenticated</p>
    {% endif %}
    </body>
</html>
